.chessmap {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

/* .white {
    height: 50px;
    width: 50px;
    background-color: white;
} */

/* .black {
    height: 50px;
    width: 50px;
    background-color: black;
} */